.topBarBoxWrapper {
  width: 100%;
  height: 48px;

  display: flex;
  justify-content: space-between;

  background: #FFF;

  position: fixed;
  top: 0;

  box-shadow: 0 2px 2px -2px #333333;

  z-index: 2;

  .contentTopBar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .contentLogo {
      display: flex;
      justify-content: center;
      flex-direction: column;

      padding: 0 20px;

      strong {
        color: #ee878a;
      }

      span {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;

        text-transform: uppercase;
      }

      span:nth-child(2) {
        font-size: 14px;
        color: #915ce6;
        font-weight: bold;
        text-transform: uppercase;
      }

      svg {
        position: absolute;
        left: -15px;
        top: 10px;
      }
    }

    .contentNavigate {
      width: 100%;
      display: flex;
      align-items: center;

      padding: 0 40px;

      .contentDropDown {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: relative;

        .contentTitleDropDown {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          cursor: pointer;

          span {
            color: #4C5948;
            font-weight: bold;
            text-transform: uppercase;
          }
        }



        .contentMenuDropDown {
          width: 200px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          position: absolute;
          top: 38px;
          left: 0px;

          background-color: #FFFFFF;
          padding: 15px 20px;
          gap: 15px;
          border-radius: 2px;
          box-shadow: 0 0 2px #333;

          a {
            text-decoration: none;
            font-size: 14px;
    
            span {
              color: #8998a5;
              font-weight: bold;
    
              text-transform: uppercase;
              transition: color .5s;
            }

          }

          a:hover span {
            color: #000000;
          }
        }
        
      }


    }

    .contentUserAvatar {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      padding: 0 40px;

      .cicleAvatarUser {
        padding: 1px;
        background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);
        border-radius: 50%;
        line-height: 0;

        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid #121214;
        }
      }

      .contentMenuUserDropDown {
        width: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        position: absolute;
        top: 53px;
        right: 10px;

        background-color: #FFFFFF;
        padding: 20px 20px;
        gap: 10px;
        border-radius: 2px;
        box-shadow: 0 0 2px #333;

        .contentUserAvatarDropDown {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          gap: 10px;

          .cicleAvatarUser {
            padding: 3px;
            background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);
            border-radius: 50%;
            line-height: 0;
    
            cursor: pointer;
    
            img {
              width: 96px;
              height: 96px;
              border-radius: 50%;
              border: 3px solid #121214;
            }


            overflow: hidden;

          }

          .userNameText {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            strong {
              color: #3a3a49;
            }
          }

        }
        
        .contentAdminText {
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          box-sizing: border-box;

          padding: 4px 0;

          background-color: rgba(145, 92, 230, .8);
          border-radius: 12px;

          strong {
            color: #3a3a49;
            text-transform: uppercase;
            font-size: 14px;
          }
        }

        .contentMenuUser {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          gap: 10px;

          button {
            width: 100%;
            border: 0;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            span {
              font-size: 14px;
            }
          }
        }

        .contentCloseButton {
          position: absolute;
          top: 6px;
          right: 6px;

          button {
            width: 100%;
            border: 0;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            
          }
        }

      }
    }
      
  }

  @media only screen and (max-width: 700px) {
    .contentTopBar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
  
      .contentLogo {
        align-items: flex-end;
      }

      .contentNavigate {
        display: none !important;
      }

      .contentUserAvatar {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative !important;

        padding: 0 40px;

        .contentMenuUserDropDown {
          width: 100vw !important;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
          border-radius: 0;
        }
      }
    }
  }
}

@media print {
  .topBarBoxWrapper {
    display: none;
    padding: 0;
  }
}