.homeBoxWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  background: #FFFFFF url(../../assets/set-fin.svg) no-repeat center;

  position: relative;
  margin: 0;

  .contentHome {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #FFFFFF;
  }
}